<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Details</title>
</head>

<body>
    <header>
        <h1>Give your contact details</h1>
    </header>
    <main>
        <form action="contact-us" , method="post">
            <label for="name">Enter your name:</label><input type="" text" placeholder="enter your name" id="name"
                name="username">
            <label for="email">Enter your email:</label><input type="mail" id="email" name="usermail">
            <input type="submit" value="submit">
        </form>
    </main>
</body>

</html>